
.favicon {
  background-image: url("../static/favicon/favicon.ico");
}

.favicon-16 {
  background-image: url("../static/favicon/favicon-16x16.png");
}

.favicon-32 {
  background-image: url("../static/favicon/favicon-32x32.png");
}

.favicon-96 {
  background-image: url("../static/favicon/favicon-96x96.png");
}

.favicon-128 {
  background-image: url("../static/favicon/favicon-128.png");
}

.favicon-196 {
  background-image: url("../static/favicon/favicon-196x196.png");
}

.favicon-apple-touch-icon-57 {
  background-image: url("../static/favicon/apple-touch-icon-57x57.png");
}

.favicon-apple-touch-icon-60 {
  background-image: url("../static/favicon/apple-touch-icon-60x60.png");
}

.favicon-apple-touch-icon-72 {
  background-image: url("../static/favicon/apple-touch-icon-72x72.png");
}

.favicon-apple-touch-icon-76 {
  background-image: url("../static/favicon/apple-touch-icon-72x72.png");
}

.favicon-apple-touch-icon-114 {
  background-image: url("../static/favicon/apple-touch-icon-114x114.png");
}

.favicon-apple-touch-icon-120 {
  background-image: url("../static/favicon/apple-touch-icon-120x120.png");
}

.favicon-apple-touch-icon-144 {
  background-image: url("../static/favicon/apple-touch-icon-144x144.png");
}

.favicon-mstile-70 {
  background-image: url("../static/favicon/mstile-70x70.png");
}

.favicon-mstile-144 {
  background-image: url("../static/favicon/mstile-144x144.png");
}

.favicon-mstile-155 {
  background-image: url("../static/favicon/mstile-150x150.png");
}

.favicon-mstile-310-150 {
  background-image: url("../static/favicon/mstile-310x150.png");
}

.favicon-mstile-310 {
  background-image: url("../static/favicon/mstile-310x310.png");
}
